.content {
    position: absolute;
    top: 50px;

    background-color: rgba(36, 115, 255, 1);
    width: 100vw;
    height: 100%;
}

.markerPopup {
    background-color: rgba(36, 115, 255, 0.88);
}

.mapboxgl-popup {
    max-width: 300px;
}

.mapboxgl-popup-content {
    background-color: rgba(36, 115, 255, 0.88);
    color: white;
    font-family: Peakrounded, sans-serif;
}

.infos {
    color: #00ff48;
}

.footer {
    position: absolute;
    bottom: 0;
}
.myTicker {
    width: 100%;
}
.ticker {
    position: static;
    width: 100%;
}

.link-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 350px;

    /* border: black solid 3px; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    /* background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(36, 115, 255, 0.7)),
            to(rgba(36, 115, 255, 0.7))
        ),
        url('static/images/Bibertreppe.jpg');
    background-image: linear-gradient(
            180deg,
            rgba(36, 115, 255, 0.7),
            rgba(36, 115, 255, 0.7)
        ),
        url('static/images/Bibertreppe.jpg'); */
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
}

.link-block:hover {
    /* background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(36, 115, 255, 0.1)),
            to(rgba(36, 115, 255, 0.1))
        ),
        url('static/images/Historische-Fussbäder.jpg');
    background-image: linear-gradient(
            180deg,
            rgba(36, 115, 255, 0.1),
            rgba(36, 115, 255, 0.1)
        ),
        url('static/images/Historische-Fussbäder.jpg'); */
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
}

.positioned {
    position: relative;
}

.card_content {
    position: relative;
    height: 350px;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card_content:hover {
    opacity: 1;
}

.mid {
    font-family: Peakrounded, sans-serif;
    color: #fff;
    text-align: center;
    /* margin-top: -1.6rem; */
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mid h3 {
    font-size: 36px;
}

.mid h4 {
    font-size: 20px;
}

.content_image {
    border-radius: 10px;
    opacity: 0.7;
}

.content_image:hover {
    opacity: 1;
}
.noHover {
    pointer-events: none;
}
