.content {
    position: absolute;
    top: 100px;
    background-color: rgba(36, 115, 255, 1);
    width: 100vw;
    height: 100%;
}

.markerPopup {
    background-color: rgba(36, 115, 255, 0.88);
    width: 400px;
}

.mapboxgl-popup-content {
    background-color: rgba(36, 115, 255, 0.88);
    color: white;
    font-family: Peakrounded, sans-serif;
}

.infos {
    color: #00ff48;
}

.myTicker {
    width: 100%;
}

.link-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 350px;

    /* border: black solid 3px; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    /* background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(36, 115, 255, 0.7)),
            to(rgba(36, 115, 255, 0.7))
        ),
        url('static/images/Bibertreppe.jpg');
    background-image: linear-gradient(
            180deg,
            rgba(36, 115, 255, 0.7),
            rgba(36, 115, 255, 0.7)
        ),
        url('static/images/Bibertreppe.jpg'); */
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
}

.link-block:hover {
    /* background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(36, 115, 255, 0.1)),
            to(rgba(36, 115, 255, 0.1))
        ),
        url('static/images/Historische-Fussbäder.jpg');
    background-image: linear-gradient(
            180deg,
            rgba(36, 115, 255, 0.1),
            rgba(36, 115, 255, 0.1)
        ),
        url('static/images/Historische-Fussbäder.jpg'); */
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
}

.positioned {
    position: relative;
}

.card_content {
    position: relative;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-top: 5px;
}

.card_content:hover {
    opacity: 1;
}

.mid {
    font-family: Peakrounded, sans-serif;
    color: #fff;
    text-align: center;
    /* margin-top: -1.6rem; */
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-wrap: break-word;
    width: 90%;
}

.mid h3 {
    font-size: 36px;
}

.mid h4 {
    font-size: 20px;
}

.content_image {
    object-fit: contain;
    width: 100%;

    border-radius: 10px;
    opacity: 0.7;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
}

.content_image:hover {
    opacity: 1;
}
.noHover {
    pointer-events: none;
}

.myChart {
    position: absolute;
    top: 5px;
    height: 100%;
    width: 100%;
    z-index: 100000;
}

.myArticle {
    height: 100vh;
    z-index: 100000;
}

.myTicker {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.myMenu {
    /* border: red solid 5px; */
    color: white;
    margin-top: -12px;
    display: none;
    /* height: 100%; */
}

.myOpenMenu {
    position: absolute;
    z-index: 2;
    top: 0vh;
    left: 0;
    /* min-height: calc(100vh - calc(100vh - 100%)); */
    min-height: 100vh;
    background-color: rgba(36, 115, 255, 1);
}

.myButton {
    border: red solid 3px;
    z-index: 100000;
}

.myChartToggle {
    top: 100px;
}

.myImages {
    border: red solid 3px;
    z-index: 100000;
}

.mySpacer {
    height: 60px;
}
.myImageSpacer {
    height: 10px;
}
.myGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.myGrid_item {
    display: grid;
}
html,
body {
    /* height: 100%; */
    margin: 0;
    background-color: #2473ff;
    color: rgb(255, 255, 255);
}

.myFooter,
.push {
    height: 20px;
    background-color: white;
}

.myFooterContainer {
    background-color: #fff;
}

.infoBox {
    display: flex;
    /* margin-left: 100px; */
    margin-right: 100px;
}

.infoImage {
    /* max-width: 100%; */
    /* height: 100%; */
    object-fit: cover;
    height: 420px;
    width: 487px;
}

.myContainer {
    display: flex;
    flex-direction: column;
}
.rightSide {
    flex: 1 1 0;
    width: 0;
}
.leftSide {
    flex: 1 1 0;
    width: 0;
}

.myContainerItem {
    position: relative;
    flex: 1 1 0;
    height: 0;
}

.heading-4 {
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2473ff;

    font-family: Edumaxisharp, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 0px;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.articleText {
    font-family: Peakrounded, sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    white-space: pre-line;
}

.myFlex {
    display: flex;
    flex-direction: column;
}
.ticker {
    background-color: #fff;
    height: 100%;
}

.moreButton {
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    font-family: Edumaxisharp, sans-serif;
}

.myTextLink {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: Peakrounded, sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    line-height: 16px;
}

.myContent {
    /* margin-left: 16px; */
}

/* BUTTONS */
.myButton_Bojen {
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1.5px solid transparent;
    border-radius: 20px;
    background-color: #00ff48;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    font-family: Peakrounded, sans-serif;
}
.myButton_Bojen_toggled {
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1.5px solid #00ff48;
    border-radius: 20px;
    background-color: #fff;
    color: #00ff48;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    font-family: Peakrounded, sans-serif;
}

.myButton_Geschichte {
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1.5px solid transparent;
    border-radius: 20px;
    background-color: #ff5d15;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    font-family: Peakrounded, sans-serif;
}
.myButton_Geschichte_toggled {
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1.5px solid #ff5d15;
    border-radius: 20px;
    background-color: #fff;
    color: #ff5d15;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    font-family: Peakrounded, sans-serif;
}

.myButton_Aktuelles {
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1.5px solid transparent;
    border-radius: 20px;
    background-color: #2b2e34;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    font-family: Peakrounded, sans-serif;
}
.myButton_Aktuelles_toggled {
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1.5px solid #2b2e34;
    border-radius: 20px;
    background-color: #fff;
    color: #2b2e34;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    font-family: Peakrounded, sans-serif;
}

.myButton_Visionen {
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1.5px solid transparent;
    border-radius: 20px;
    background-color: #ffd000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    font-family: Peakrounded, sans-serif;
}
.myButton_Visionen_toggled {
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1.5px solid #ffd000;
    border-radius: 20px;
    background-color: #fff;
    color: #ffd000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    font-family: Peakrounded, sans-serif;
}

.myInfoImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* border: red solid 1px; */
}
.myInfoDivider {
    padding-left: 8px;
    padding-right: 8px;
    width: 100vw;
    padding-top: 32px;
}

.MuiAccordion-root {
    max-height: 64px;
}
.Mui-expanded {
    max-height: 100%;
}

.infoAccordionText {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    flex: 0 0 auto;
    font-family: Edumaxisharp, sans-serif;
    color: #fff;
    font-size: 50px;
    /* text-align: center; */
    white-space: normal;
}

.mobileMenuLink {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    font-family: Edumaxisharp, sans-serif;
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

.mobileMenuLink.current {
    /* border: red solid 1px; */
    color: #00ff48;
    text-decoration: underline;
}

.menuLink {
    padding-left: 20px;
    flex: 0 auto;
    font-family: Peakrounded, sans-serif;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

.menuLink.current {
    color: #00ff48;
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .logo-image {
        max-width: 100%;
    }
    .myMenu {
        /* border: red solid 5px; */
        color: white;
        display: inline;
        z-index: 10000000;
    }
    .content {
        position: absolute;
        top: 100px;
        background-color: rgba(36, 115, 255, 1);
        width: 98vw;
        height: 100%;
        left: 50%;
        transform: translate(-50%);
    }
}

@media screen and (max-width: 479px) {
    .myMenu {
        /* border: red solid 5px; */
        color: white;
        margin-top: 28px;
    }
}
