.content {
    position: absolute;
    top: 100px;
    background-color: rgba(36, 115, 255, 1);
    width: 98vw;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
}

.markerPopup {
    background-color: rgba(36, 115, 255, 0.88);
    width: 400px;
}

.mapboxgl-popup-content {
    background-color: rgba(36, 115, 255, 0.88);
    color: white;
    font-family: Peakrounded, sans-serif;
}

.infos {
    color: #00ff48;
}

.myTicker {
    width: 100%;
}

.link-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 350px;

    /* border: black solid 3px; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    /* background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(36, 115, 255, 0.7)),
            to(rgba(36, 115, 255, 0.7))
        ),
        url('static/images/Bibertreppe.jpg');
    background-image: linear-gradient(
            180deg,
            rgba(36, 115, 255, 0.7),
            rgba(36, 115, 255, 0.7)
        ),
        url('static/images/Bibertreppe.jpg'); */
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
}

.link-block:hover {
    /* background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(36, 115, 255, 0.1)),
            to(rgba(36, 115, 255, 0.1))
        ),
        url('static/images/Historische-Fussbäder.jpg');
    background-image: linear-gradient(
            180deg,
            rgba(36, 115, 255, 0.1),
            rgba(36, 115, 255, 0.1)
        ),
        url('static/images/Historische-Fussbäder.jpg'); */
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
}

.positioned {
    position: relative;
}

.card_content {
    position: relative;
    /* padding: 5px; */
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* padding: 5px; */
}

.card_content:hover {
    opacity: 1;
}

.mid {
    font-family: Peakrounded, sans-serif;
    color: #fff;
    text-align: center;
    /* margin-top: -1.6rem; */
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-wrap: break-word;
    width: 90%;
}

.mid h3 {
    font-size: 36px;
}

.mid h4 {
    font-size: 20px;
}

.content_image {
    border-radius: 10px;
    opacity: 0.7;
}

.content_image:hover {
    opacity: 1;
}
.noHover {
    pointer-events: none;
}

.mySpacer {
    height: 10px;
}

.myChart {
    position: absolute;
    top: 5px;
    height: 100%;
    width: 100%;
    z-index: 100000;
}

.myArticle {
    height: 100vh;
    z-index: 100000;
}

.myTicker {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.myMenu {
    /* border: red solid 5px; */
    color: white;
    margin-top: -12px;
    /* height: 100%; */
}

.myOpenMenu {
    position: absolute;
    z-index: -1;
    top: 0vh;
    left: 0;
    min-height: 100vh;
    /* min-height: -webkit-fill-available; */
    background-color: rgba(36, 115, 255, 1);
}

.myButton {
    border: red solid 3px;
    z-index: 100000;
}

.myChartToggle {
    top: 100px;
}

.myImages {
    border: red solid 3px;
    z-index: 100000;
}

.mySpacer {
    height: 100px;
}
.myImageSpacer {
    height: 10px;
}
.myGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.myGrid_item {
    display: grid;
}
html,
body {
    /* height: 100%; */
    margin: 0;
    background-color: #2473ff;
    color: rgb(255, 255, 255);
}
.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -20px;
}
.myFooter,
.push {
    height: 20px;
    background-color: white;
}

.myFooterContainer {
    background-color: #fff;
}

.infoBox {
    display: flex;
    /* margin-left: 100px; */
    margin-right: 100px;
}

.infoImage {
    /* max-width: 100%; */
    /* height: 100%; */
    object-fit: cover;
    height: 420px;
    width: 487px;
}

.myContainer {
    display: flex;
    flex-direction: column;
}
.rightSide {
    flex: 1 1 0;
    width: 0;
}
.leftSide {
    flex: 1 1 0;
    width: 0;
}

.myContainerItem {
    position: relative;
    flex: 1 1 0;
    height: 0;
}

.heading-4 {
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2473ff;

    font-family: Edumaxisharp, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 0px;
}

.myToggleButton {
}

.myFlex {
    display: flex;
    flex-direction: column;
}
.ticker {
    background-color: #fff;
    height: 100%;
}

.moreButton {
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    font-family: Edumaxisharp, sans-serif;
}
@media screen and (max-width: 767px) {
    .myMenu {
        /* border: red solid 5px; */
        color: white;
        margin-top: 24px;
    }
    .content {
        position: absolute;
        top: 100px;
        background-color: rgba(36, 115, 255, 1);
        width: 98vw;
        height: 100%;
        left: 75%;
        transform: translate(-50%);
    }
}

@media screen and (max-width: 479px) {
    .myMenu {
        /* border: red solid 5px; */
        color: white;
        margin-top: 28px;
    }
}
